@use "../base/colors" as *;
@use "../base/fonts" as *;

button {
    padding: 0.5rem;

    color: $text;
    font-family: $font-text;
    font-size: 1rem;

    border: 1px solid $text;
    background-color: $main;

    cursor: pointer;

    display: flex;
    align-items: center;

    .btn-arrow {
        margin-left: 0.3rem;
    }

    &:hover {
        background-color: rgba($text, 0.3);
    }

    &.btn-action {
        background-color: rgba($action, 0.8);
        &:hover {
            background-color: $action;
        }
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 1rem;
    }
}