@use "../base/fonts" as *;
@use "../base/colors" as *;

.Education {
    .education-container {
        margin-bottom: 1rem;
        display: flex;
        align-items: flex-end; 
        flex-direction: column;
        h4 {
            font-family: $font-titles;
            font-size: 1.5rem;
            text-transform: uppercase;
            width: 100%;
            
        }
        table {
            max-width: 400px;
            border-collapse: collapse;
            th, td {
                text-align: left;
                padding: 0.5rem 0;
                
            }
           
            th, strong {
                font-weight: 400;
            }
            .education-info {
                max-width: 600px;
                line-height: 1.5;
            }
            
        }

    }
}