@use "../base/fonts" as *;
@use "../base/colors" as *;

.Education {
    .education-container {
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-end; 
        flex-direction: column;

        table {
            max-width: 400px;
            border-collapse: collapse;
            th, td {
                text-align: right;
                padding: 0.5rem 0;
                
            }
           
            th, strong {
                font-weight: 400;
            }
            .years, .university, .education-info {
                line-height: 1.5;
                border-bottom: none;
            }
            
        }

    }
}

@media (min-width: 768px) { 
    .Education .education-container h4 {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) { 
    .Education .education-container h4 {
        font-size: 3rem;
    }
}
