@use "../base/colors" as *;

header {


    h1, h2 {
        text-align: center;
    }
    
    
    nav {
        margin: 1.5rem 0;
        ul {
            display: flex;
            li {
                margin-right: 1rem;
            }
        }
    }
}

@media (min-width: 768px) { 
    header {
        display: flex;
        flex-direction: column;

        h1, h2 {
            text-align: left;
        }

        h1 {
            text-wrap: nowrap;
        }

        nav {
            height: 100%;
            margin-top: 4rem;

            ul {
                flex-direction: column;
                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
 }