@use "../base/colors" as *;

header {
    position: fixed;
    z-index: 10;
    nav {
        //margin: 1rem 0;
        margin-top: 2rem;
        ul {
            display: inline-flex;
            flex-direction: column;

            
            li {
                display: inline-block;
                //margin-bottom: 1rem;
                position: relative;
                letter-spacing: .03rem;
                
                
                &.active::after {
                    display: inline-block; 
                    content: "";
                    width: 4px;
                    height: 100%;
                    display: block;
                    background-color: $text; 
                    position: absolute;
                    bottom: 0;
                    right: -10px;
                    animation: backgroundChange 1s infinite;

                }
            }
        }
    }
}

@keyframes backgroundChange {
    0% {
        background-color: $text;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: $text;
    }
}
