@use "../base/fonts" as *;

.Projects {
    position: fixed;
    bottom: 0;
    right: 0;
    ol {
        list-style-type: decimal-leading-zero;

        li {
            font-family: $font-titles;
            font-size: 2.5rem;
            text-transform: uppercase;

            margin-bottom: 2rem;
        
            
        }
    }
}