@use "../base/colors" as *;

.Profile {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    section {
        margin-bottom: 2rem;
        p {
            max-width: 300px ;
            strong {
                font-weight: 400;
            }
        }
    }
}